/*Estilos de todo el sitio web----------------------------------------------------------------------------*/

html{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: rgb(27, 49, 71);
  background-color: #f5f5f5fa;
}


/*Estilos de barra de navegación----------------------------------------------------------------------------*/

.nav-bar ul {
  align-content: right;
  list-style-type: none;
  margin-top: 20px;
  display: flex;

}

.nav-bar li {
  margin-right: 20px;

  
}



.nav-bar a {
  color: black;
  text-decoration: none;
}

.nav-bar a:hover {
  color:rgb(174, 174, 174);
}

/*Estilos de Títulos----------------------------------------------------------------------------*/

.main-title {
  margin-left: 39px;
  margin-top: 40px;
  text-align: left;
  font-size: xx-large;
  text-decoration: none;
}




