html{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: rgb(27, 49, 71);
  background-color: #e4e4e4fa;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

.form-register{
    width: 400px;
    background: #21a37897;
}

.top-nav {
  display: grid;
  place-items: center;
  text-align: right

}

.title {
  text-align: center
}